h1{
	color: black;
	font-size: 46px;
}
h1, h2{
	text-align: center;
	font-family: 'Fontdiner Swanky', cursive;
}

#guessesdiv, #lettersdiv{
	font-size: 24px; 
	text-align: center;
	font-family: 'Fontdiner Swanky', cursive;
	margin: 5%;
	background-color: #0169B2; 
	padding: 10%;
}


#winsdiv{
	color: black;
	font-size: 36px;
	text-align: center; 
	border: dotted;
	border-width: 5px;
	border-color: black;
	font-weight: bolder;
	margin: 5%
}

#skeldiv{
	text-align: center;
	font-size: 48px;
}

.image{
	position: relative;

}

#title{
	background-color: #FFFF28;
	margin-bottom: 5%;
	padding: 1%;
}

#banner{
	margin-bottom: 10%;
}

#main{
	margin-bottom: 5%; 
}

h2 { 
   position: absolute; 
   top: 0;
   left: 20px; 
   opacity: 100%
   font-size: 22px;
   font-weight: bold;
}

h3{
	font-size: 36px;
	text-align: center;
	font-family: 'Boogaloo', cursive;
}

