h1{
	color: black;
	font-size: 52px;
	font-weight: bold;
}
h1, h2{
	text-align: center;
	font-family: 'Fontdiner Swanky', cursive;
}

#guessesdiv, #lettersdiv{
	font-size: 28px; 
	text-align: center;
	font-weight: bold;
	margin: 5%;
	background-color: #0169B2; 
	padding: 10%;
	color: white;
}

.btn{
	padding: 10%;
	margin: 12%;
	font-size: 22px;
	font-family: 'Boogaloo', cursive;
}


#winsdiv{
	color: black;
	font-size: 36px;
	text-align: center; 
	border: dotted;
	border-width: 5px;
	border-color: black;
	font-weight: bolder;
	margin: 5%
}

#skeldiv{
	text-align: center;
	font-size: 48px;
	color: white;
}

.image{
	position: relative;
	text-align: center;
	margin-bottom: 10%

}

#sidebox{
	text-align: center;
	margin-top: 2%;
	font-size: 54px;
	font-family: 'Fontdiner Swanky', cursive;
	color: #FFFF28;

}

#title{
	background-color: #FFFF28;
	margin-bottom: 2%;
	padding: 1%;
}

#banner{
	margin-bottom: 10%;
}

#main{
	margin-bottom: 2%; 
}

li{
	margin:2px;
}

#hint { 
   position: absolute; 
   top: 10;
   left: 0;
   width: 100%;
}

h2{
   font-size: 42px;
   font-weight: bold;
   color: #FFFF28; 

}

h3{
	font-size: 36px;
	text-align: center;
	font-family: 'Boogaloo', cursive;
}

#howto{
	color: white;
	margin: 1%;
}

